<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
    
  </script>
<% end %>



 <script src="https://kit.fontawesome.com/529d94208a.js" type="text/javascript" crossorigin="anonymous">
        function myFunction() {
      var x = document.getElementById("Demo");
      if (x.className.indexOf("w3-show") == -1) { 
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
 </script>

<main id="root"></main>