.full-cart-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;

}

.offered {
    text-decoration: underline;
    cursor: pointer;
    color: #004B87;

}
.cart-header {
    display: flex;
    justify-content:space-between;
    width: 1380px;
    padding: 15px;
    align-items: center;
}



.cart-subheader {
    display: flex;
    justify-content: left;
    width: 1380px;
    padding-top: 30px;
    border-bottom: 2px solid lightgray;
    color: #C0C0C0;
    font-weight: 520;
    padding-bottom:3px;

}

.cart-titles {
    padding: 10px;
    font-size: 1.3vh;
    font-style:Muli,sans-serif;
    // border-bottom: 2px solid lightgray;
    border-bottom: 4px solid white;
    cursor: pointer;
}



.cart-titles-bolded {
    color: #004B87;
    padding: 10px;
    font-size: 1.3vh;
    font-style:Muli,sans-serif;
    // border-bottom: 2px solid lightgray;
    border-bottom: 4px solid #004B87;

    cursor: pointer;
}

.cart-titles:hover {
    border-bottom: 4px solid gray;
  
}

.cart-titles-bolded {
    padding: 10px;
    font-size: 1.3vh;
    font-style:Muli,sans-serif;
    color: #004b87;
    border-bottom: 2px solid #004b87;

}

.no-investments {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;

}

.no-item {
    padding-top: 10px;
}

.browse-button {
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 4px;
    margin-top: 20px;
    background-color: #004B87;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

.browse-button:hover {
    opacity: 0.5;

}

.cart-item {
  
    display: flex;
    
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;

    border-bottom: solid 1px #d3d3d3;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1320px;

}

.cart-pic {
    display: flex;
    padding-left: 5px;
    justify-content: space-between;
    align-items: center;
   


}

.cart-photo {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.trashcan {
    cursor:pointer;

}

.cart-address {
    cursor: pointer;
    margin-left: 30px;

    font-size: 1.5vh;
    color: #004B87;
    font-weight: 400;
    text-align: left;
}

.cart-address:hover{
    opacity: 0.6;

}

.cart-description {
    width: 1340px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.3vh;
    height: 100px;
    justify-content: space-between;
    border-bottom: 2px solid #d3d3d3;



}

.fontweight2 {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.item-price {
    width: 25%;
     font-size: 1.5vh;
    display: flex;
    justify-content: space-between;
}

.transition-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkbigger {
    font-size: 25px;
    padding: 10px;
}
.cart-transition {
    font-size: 16px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
   align-items:center;
   justify-content: space-between;
    opacity: 0.8;
    width: 250px;
    background-color: green;
    height: 40px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    position: relative;
    border-radius: 4px;
    justify-content: center;


    


}


.saved-transition {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 16px;
    padding: 10px;
    display: flex;
   align-items:center;
   justify-content: space-between;
    opacity: 0.8;
    width: 250px;
    background-color: green;
    height: 40px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    position: relative;
    border-radius: 4px;
    justify-content: center;
    position:absolute;

    left: 69%;

    bottom: 79%;
    z-index: 999999;
    


}