// .login-form-container {
//     position:absolute;
//     top:15%;
//     left:45%;
//     margin-top:-50px; /* this is half the height of your div*/  
//     margin-left:-100px; /*this is half of width of your div*/
//     // text-align: center;
//     text-align: left;
//     padding: 5px;
//     font-family: Muli, sans-serif;
// }

.login-form-container {
    // position:absolute;
    // top:15%;
    // left:45%;
    // margin-top:-50px; /* this is half the height of your div*/  
    // margin-left:-100px; /*this is half of width of your div*/
    // // text-align: center;
    text-align: left;
    padding: 5px;
    font-family: Muli, sans-serif;
    font-size: 12px;
    padding-top: 20%;
    width: 315px;


}

.login-form-container-modal {
    // position:absolute;
    // top:15%;
    // left:45%;
    // margin-top:-50px; /* this is half the height of your div*/  
    // margin-left:-100px; /*this is half of width of your div*/
    // // text-align: center;
    text-align: left;
    padding: 5px;
    font-family: Muli, sans-serif;
    font-size: 12px;
    width: 315px;
    padding: 150px;
 


}

.flex-center-container {
    display: flex;
    align-items: center;
    justify-content: center;


}


.fun {
    position:absolute;
    top: 100px;
    width: 300px;
    height: 1000px;
    background: white;

}



.login-form-box {

   
}


.input-icons-demo {
    position: absolute;
    padding: 15px;
    padding-top: 10px;
    color: rgb(206, 206, 206);
    font-size: 14px;
}

#login-padding {
    padding-top: 5px;
    padding-bottom: 18px;

}
.login-submit {

  
    border-radius: 4px;
    padding: 8px 95px;
    width: 100%;
    color: white;
    text-decoration: none;
    border: 1px solid;
    background-color: #6259C3;
    cursor: pointer;
}

.login-submit:hover{
    background-color: rgb(134, 128, 202);
    cursor: pointer;
}

.login-demo {

    font-size: 12px;
    border-radius: 4px;
    padding: 8px 95px;
    width: 100%;
    color: white;
    text-decoration: none;
    background-color:#265099;
    margin-bottom: 15px;
    cursor: pointer;



}


.session-error {
    padding-top: 3px;
    height: 10px;
    color: #FF4D4D;
    padding-bottom: 4px;
    font-size: 11px;

}


.session-error-new {
    padding-top: 5px;
    color: #FF4D4D;
    font-size: 11px;
    padding-bottom: 8px;
    height: 10px;

}

.lname-fix {
    width: 150px;
    padding-right: 14px;

}

.fname-fix {
    padding-right: 41px;
    width: 150px;

}




hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.text-center {
    text-align:center;
    font-size: 26px;

}

.text-center-signup {
    text-align:center;
    font-size: 20px;
    padding-top: 150px;
    padding-bottom: 20px;
    font-family: Muli, sans-serif;

}

.text-center-signup-modal {
    text-align:center;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: Muli, sans-serif;

}


.topbox-signup-container {
    // border: 1px solid;
    display: flex;
    justify-content: center;
    font-family: Muli, sans-serif;
   
}

.error-fn-ln {
    display: flex;
    justify-content: space-between;

}

.box-signup {
    flex-shrink: 3;
    width: 200px;
    height: 100px;
    font-size:13px;
    overflow:hidden;

}

#signup-interest {
    font-size: 12px;
    border-radius: 4px;
    width: 100%;
    padding-left: 3px;
    height: 33px;
    text-align: center; 
    text-decoration: none;
    border: 1px solid #1c74b8;

}

.signup-images {

    width:100px;
    height:80px;

}

.signup-form-container {

     display: flex;
     width: 320px; 
     padding-left: 10px;
     flex-direction: column;
     font-family: Muli, sans-serif;
     justify-content: center;
     font-size: 13px;

}

.name-signup {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;

}

.login-input {
    // background-color: #1c74b8;
    font-size: 12px;
    width: 100%;
    padding:7px;
    color:grey;
    text-decoration: none;
    border: 1px solid #1c74b8;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.login-input:focus {

    border: 2px solid #4169e1;
}






.signup-input-lastname {
    // background-color: #1c74b8;
    font-size: 12px;
    width: 130px;
    padding: 7.68px;
    color:grey;
    text-decoration: none;
    border: 1px solid #1c74b8;
    border-radius: 4px;
    outline: 0px;
    border-color: #ACACAC;
 
}



.signup-input-lastname:focus {
    // border-color: #1c74b8;
    box-shadow: 0 0 5px #9ecaed;    
    // box-shadow: 0 0 8px #9ecaed;
}

.lastname {
   
    padding-left: 10px;
}

// .lastname:focus-within {
//     border-color: #9ecaed;
//     box-shadow: 0 0 8px #9ecaed;

// }


.signup-icons {
    padding: 7.5px;
    color: #cecece;
    text-align: center;
    min-width: 30px;
    border: 1px solid #1c74b8;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;
    border-color: #ACACAC;

}

.firstname {
    padding-right: 10px;
}


.tos {
    flex-shrink: 2;
    text-align: center;
    font-size: 13px;
    padding-left: 10px;
}

.signup-demo {

    font-size: 13px;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    width: 315px;
    color: white;
    text-decoration: none;
    background-color:#265099;
    margin-bottom: 15px;
    
    cursor: pointer;


}

.signup-demo:hover{
-webkit-box-shadow: 1px 1px 1px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
-moz-box-shadow:    1px 1px 1px 1px#ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:       1px 1px 1px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#session-side {

    display: flex;
    justify-content: center;

    
}


#session-side-modal {

    display: flex;
    justify-content: center;
    padding-bottom: 40px;

}

.signin-modal {
    text-decoration: underline;
    cursor: pointer;

}


.wrapper {
    position: relative;
    width: 100px;
    margin: 10px;
}

.line {
    position: absolute;
    left: 49%;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #ccc;
    z-index: 1;
}

.wordwrapper {
    text-align: center;
    height: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -12px;
    z-index: 2;
}

.word {
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3px;
    font: bold 12px arial,sans-serif;
    background: #fff;
}

#session-side-three {

    display: flex;
    flex-direction: column;
    
    font-family: Muli, sans-serif;
    justify-content: center;

}


.input-container {
    height: 30px;
    display: flex;
    width: 100%;
    text-decoration: none;
    border: 0.5px solid #1c74b8;
    border-radius: 4px;
    outline: 0px;
    border-color: #ACACAC;

}

.input-container:focus-within {
    // border: 1px solid #1c74b8;
    box-shadow: 0 0 4px #9ecaed;
}

.signup-input {
    // background-color: #1c74b8;
    font-size: 12px;
    width: 100%;
    padding-left: 7px;
    height: 26px;
    border-radius: 4px;
    border: 1px solid #ACACAC;
    text-decoration: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    outline: none;
}

.signup-modal-click {
    cursor: pointer;
    text-decoration: underline;

}


#focus-example > .extra {
    display: none;
  }
  
#focus-example:focus > .extra {
    display: block;
}


.input-icons {
    padding: 8px;
    color: rgb(206, 206, 206);
    text-align: center;
    min-width: 30px;
    border: 1px solid #ACACAC;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;

}

@media only screen and (max-width : 633px){
    .limit{
        display:none;
    }
}


@media only screen and (max-width : 674px){
    .limit_two{
        display:none;
    }
}


