.main-div{
    font-family: sans-serif;
}

.navbar{
    display: flex;
    background-color: white;
    width: auto;
    justify-content: space-between;
    min-height: 60px;
    align-items: center;
    font-family: Muli, sans-serif;
   
}

.navbar-right{
    display: flex;
    justify-content: space-between;
  
}

.nav-main-link{
    margin-left: 2%;
    
    font-weight: 900;
    font-size: 22px;
    display: flex;
    text-decoration: none;
}

.nav-login-link{
    margin-right: 20px;
    padding: 15px;
    font-weight: 400;
    color: #7990a0;
    text-decoration: none;
}

.nav-login-link:hover{
    text-decoration: underline;
    color: #1264a3;
    text-decoration: none;
}

.nav-signup-link{
    display: flex;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    // background-color: #1c74b8;
    font-size: 18px;

    border-radius: 4px;
    height: 45px;
    width: 95px;
  
    color: white;
    text-decoration: none;
    border: 1px solid #1c74b8;
}

.nav-signup-link-bolded{
    display: flex;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    // background-color: #1c74b8;
    font-size: 18px;
    touch-action: manipulation;

    border-radius: 4px;
    height: 45px;
    width: 95px;
    margin-right: 50px;
    background: #1c74b8;
    color: white;
    text-decoration: none;
    border: 1px solid #1c74b8;

    -moz-box-shadow:    inset 0 0 1px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 2px #000000;
}

.signup-text {
    width: 100%;
    text-decoration: none;
    color:white;
}

.signup-text-blue {
    width: 100%;
    text-decoration: none;
    color: #1c74b8;
   
}



.logo-img {
    max-width: 60px;
    max-height: 60px;
    
}

.navbar-logged-in{
    display: flex;
    background-color: white;
    width: 1380px;
    justify-content: space-between;
    min-height: 60px;
    align-items: center;
    font-family: Muli, sans-serif;
}



.navbar-buy-own-sell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 165 px;


}

.left-nav-misc {
    width: 20 px;
    height: 60 px;
    padding: 15px;
    


}

.navbar-right {
    display: flex;
    justify-content: space-between;
    
}


.navbar-left {
    display: flex;
    justify-content: space-between;

}

.navbar-container-loggedin {
    display: flex;
    justify-content: space-between;
    width: 1380px;
    font-size: 18px;
    align-items: center;
    font-family: Muli, sans-serif;
    color: white;
    border-radius: 4px;

}


.navbar-container-loggedout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1380px;
    font-size: 18px;
    font-family: Muli, sans-serif;
    color:grey;
    border-radius: 4px;
}

.navbar-fullwidth-loggedin {
    display:flex;
    min-height: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color:white;
    border-radius: 4px;
}

.navbar-fullwidth-loggedout {
    display:flex;
    min-height: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    

}


.logo-text{
    padding-top: 17px;
    color: #7990a0;
    text-decoration: none;
    font-size: 19px;
    
}


.navbar-logo {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-right: 10px;


}


.right-nav-misc {
    width: 20 px;
    height: 60 px;
    padding: 13px;
    display: inline-block;
    color: #515151;

}


@media only screen and (max-width : 763px){
    .limit_navbar{
        display:none;
    }
}


.fixed-nav-bar {
    position: fixed;
    z-index: 9999;
    
  }



@media only screen and (max-width : 920px){
    .show_logo{
        justify-content: center;
    }
}



.remove-decoration {
    text-decoration: none;
    color: #515151
}
/* Overline Reveal */
.hvr-overline-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #515151
  }
  .hvr-overline-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-overline-reveal:hover:before, .hvr-overline-reveal:focus:before, .hvr-overline-reveal:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  



  /* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}