.property-marketplace-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.background-container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;

}



.searchmap-container {
    width: 1380px;
    height: 420px;
    background-color: papayawhip;

    

}

.property-index-container {

    
    display: flex;
    max-width: 1430px;
    flex-wrap: wrap;
    justify-content: center;
    // grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));

}






