


.property-item-container {
    display: flex;
    flex-direction: column;
    margin: 34px;
    width: 390px;
    height: 560px;
    border-radius: 4px;
    color: #917036;
    border: 1px solid #e0e0e0
    
}

.property-item-miscs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 34%;
    width: 100%;
}

.property-item-miscs-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 49%;
    width: 49%;
    border: 1px solid #e0e0e0
   
}

.item-1 {
    border-left: 0px;
    border-right: 0px;
}

.item-2 {
    border-right: 0px;
}

.item-3 {
    border-left: 0px;
    border-right: 0px;
}

.item-4 {
    border-right: 0px;
}

.property-item-miscs-box div:nth-child(2) {
    font-size: 26px; //every div tag that is secon child of its parent
}

// .property-image {
//     height: 50%;
//     position: relative;
//     width: 100%;
// }

.property-address {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;

    height: 16%;
    width: 100%;

}

.property-address-box{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.property-addess-box > * {
    width: 100%;
}

.property-icon {
    color: green;
    padding-right: 5px;
}

.exclusive {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50%;
    width: 60%;
    background-color: grey;
}

.property-image {
    display:flex;
    justify-content: center;
    position: relative;
  
    
}

.property-image::before {
    position: absolute;
    width: 100%;
    height: 30%;
    top: 70%;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        );
    content: '';
}


.background-child {
    position:absolute;
    bottom: 20%;
    font-size: 25px;
    color: white;

}


.show-image-url {
    width: 100%;
    height: 100%;

}