.right-submenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.submenu-full-length {
    width: 100%;
    display: flex; 
    justify-content: center;

}



.submenu-container {
    padding-top: 70px;
    width: 1380px;
    height: 55px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    color: #515151;
    font-family: Muli, sans-serif;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;

}

.left-submenu {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}



.right-submenu {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}


/* Underline Reveal */
.hvr-underline-reveal {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 3px solid white;
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-reveal:hover {
    border-bottom: 3px solid #2098D1;
  }


  .text-decoration {
    text-decoration: none;
    color:#A3A2A2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

  }

  #search-map-container {
    width: 100%;
    height: 100%;

  }