.full-saved-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.saved-header {
    display: flex;
    justify-content:space-between;
    width: 1380px;
}

.full-saved-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}