.search-1 {

    display: flex;
    width: 1380px;
    height: 20px;


}

.search-button{
    color:#A3A2A2;
    font-size: 0.8125rem;
    border-radius: 4px;
    // width: 130px;
    height:20px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eff7fa;
    cursor:pointer;
    // #86c5da
    

}

.search-button:hover{
    color: white;
    background-color: #1c74b8;


}

.search-label{
    padding-right: 5px;
}

.search-2 {
    display:flex;
    background-color: light-gray;
    width:1380px;
    height: 50px;

}


.dropdown-search {
    margin-top: 6px;
    padding: 6px;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
    width: 260px;
    height: 25px;

}

.dropdown-click {
    margin-top: 4px;
    position: absolute;
    z-index: 99999;
    border-radius: 3px;
    display: flex;
    height: 125px;
    width: 355px;
    border: 1px solid #e0e0e0;
    background-color: white;



}

.dropdrown-container {
    display: flex;
   
    


}

.amount-title {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
   
    


}

.apply-clear {
    margin-top: 15px;
    border-top: 1px solid lightgrey;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;


}

.cursorp {
    cursor:pointer;
    pointer-events: auto;
    
}


.dropdown-click-loc {
    margin-top: 4px;
    position: absolute;
    z-index: 99999;
    border-radius: 3px;
    display: flex;
    height: 320px;
    width: 280px;
    border: 1px solid #e0e0e0;
    background-color: white;


}

.checkbox-container {
    overflow-y:auto;
    margin: 20px;
}

.checkbox-item {
    padding-top: 5px;
}


