.search-1 {

    display: flex;
    width: 1380px;
    height: 20px;


}

.cursor {
    cursor: pointer;
}

.search-button{
    color:#A3A2A2;
    font-size: 0.8125rem;
    border-radius: 4px;
    // width: 130px;
    height:20px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eff7fa;
    cursor:pointer;
    transition: 0.3s;
    // #86c5da
    

}


.search-button:hover{
    color: white;
    background-color: #1c74b8;
    cursor:pointer;
    // #86c5da
    

}

.search-button-bolded{
    color: white;
    font-size: 0.8125rem;
    border-radius: 4px;
    // width: 130px;
    height:20px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    background-color: #1c74b8;
    transition: 0.3s;


}

.search-label{
    padding-right: 5px;
}

.search-2 {
    display:flex;
    background-color: light-gray;
    width:1380px;
    height: 50px;

}


.dropdown-search {
    margin-top: 6px;
    padding: 6px;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
    width: 260px;
    height: 25px;

}

.dropdown-click {
    margin-top: 4px;
    position: absolute;
    z-index: 99999;
    border-radius: 3px;
    display: flex;
    height: 125px;
    width: 355px;
    border: 1px solid #e0e0e0;
    background-color: white;



}

.dropdrown-container {
    display: flex;
   
    


}

.amount-title {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
   
    


}

.apply-clear {
    width: 100%;
    margin-top: 15px;
    border-top: 1px solid lightgrey;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;


}

.cursorp {
    cursor:pointer;
    pointer-events: auto;
    color: #6259C3;
}





.apply-clear-loc {
    border-top: 1px solid lightgrey;
    padding: 15px;
    display: flex;
    justify-content: space-between;


}


.dropdown-click-loc {
    margin-top: 4px;
    position: absolute;
    z-index: 99999;
    border-radius: 3px;
    display: flex;
    width: 280px;
    border: 1px solid #e0e0e0;
    background-color: white;
    flex-direction:column;


}

.checkbox-container {
    font-size: 1.5vh;
    overflow-y:auto;
    padding: 10px;
}

.checkbox-container2 {
    font-size: 1.5vh;
    overflow-y:auto;
}


.checkbox-item {
    padding-top: 5px;
}

.checkbox-items {

    padding: 5px;
}

.clear {
    color:grey;
}

.multi-grid-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 470px;
    margin-top: 5px;



}

.searchbar-3 {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 1380px;
    padding-bottom: 20px;


}

.grid-box-1 {
    cursor:pointer;
    margin-top: 3px;
    display: flex;
    height: 20px;
    width: 200px;
    justify-content: space-between;
    font-size: 1.3vh;
}
.hover-2 {
    display: flex;
    flex-direction: column;
    padding: 10px;

}


.dropdown-click-search{
    font-family: "Muli", sans-serif;
    margin-top: 40px;
    position: absolute;
    z-index: 99999;
    border-radius: 3px;
    display: flex;
    border: 1px solid #e0e0e0;
    background-color: white;
    flex-direction:column;

}

.search-label-2 {
    cursor:pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    transition: 0.1s;
    

}

.desc-padding {
    padding-top : 10px;
}

.search-label-2-bolded {
    cursor:pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    transition: 0.1s;
    background-color: #ffcd00 ;
    color:white;
    

}

.search-label-2:hover {
    background-color:lightgray; 

}

.fourboxes {
    display: flex;
    align-items: center;
}

.gridboxes {
    cursor:pointer;
    font-size: 26px;
    padding: 8px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 3px;
     border: 1px solid #e0e0e0;

}


.gridboxes-bolded {
    cursor:pointer;
    color: white;
    border: 1px solid #e0e0e0;
    font-size: 26px;
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(65, 105, 225);
       padding-left: 13px;
    padding-right: 13px;

}

.barboxes {
    cursor:pointer;
    border: 1px solid #e0e0e0;
    font-size: 26px;
    padding: 8px;
    border-radius: 5px;
    padding-left: 13px;
    padding-right: 13px;
}

.barboxes-bolded {
    cursor:pointer;
    color: white;
    border: 1px solid #e0e0e0;
    font-size: 26px;
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(65, 105, 225);
     padding-left: 13px;
    padding-right: 13px;
}

.map-button {
    cursor:pointer;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    height: 20px;
    width: 35px;
    padding: 12px;

    display: flex;
    align-items: center;
    justify-content:center;


}

.map-button:hover {
    color:rgb(65, 105, 225);
}

.shadow {
     color:rgb(65, 59, 225);
    background-color:	#C0C0C0;



}


.page-misc {
    padding-top: 10px;
        font-size: 1.6vh;
    

}

.page-nums {
    color:  #004b87;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #004b87;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 2px;
    cursor:pointer;
}

.page-nums-bolded {
    color:  #004b87;
    background-color: #e8f4f8;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #004b87;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 2px;
    cursor:pointer;
}

